* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  color: #242d49;
  background: #dbd9d9;
  padding: 4px 4px 4px 10px;
  overflow: auto;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #98a6eb;
  filter: blur(78px);
}
.btn {
  padding-right: 10px;
  background-color: rgb(60, 60, 159);
  color: aliceblue;
}
.btn:hover {
  outline: 1px solid rgb(60, 60, 159);
}
.dropdown-toggle::after {
  display: none;
}
.cursor {
  cursor: pointer;
}
