.card {
  border-radius: 18px;
  background-color: transparent;
  position: relative;
}
.card-img-top:nth-child(1) {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card-img-top:nth-child(2) {
  position: absolute;
  height: 128px;
  width: 50%;
  border-radius: 50%;
  top: 102px;
  left: 74px;
}
.card-body {
  margin-top: 40px;
}
